<% content_for :contextnav do %>
  <ul class="side-nav">
    <li><%= link_to 'Editieren', edit_tenant_path(@tenant) %></li>
    <li><%= link_to 'Löschen', @tenant, method: :delete, data: { confirm: 'ORLY?' } %></li>
  </ul>
<% end %>
<h1><%= @tenant.name %></h1>
<table>
  <tr>
    <td>Hostname</td>
    <td><a href="<%= @tenant.url %>"><%= @tenant.hostname %></a></td>
  </tr>
</table>
<h2>Forumseinstellungeen</h2>
<table>
  <tr>
    <td>URL</td>
    <td><a href="<%= @tenant.settings(:discourse).url %>"><%= @tenant.settings(:discourse).url %></a></td>
  </tr>
  <tr>
    <td>API-Schlüssel</td>
    <td>
      <pre id="api_key" class="secret embedded"><%= @tenant.settings(:discourse).api_key %></pre>
      <%= clipboard_button("api_key") %>
    </td>
  </tr>
  <tr>
    <td>Single-Sign-On-Geheimnis</td>
    <td>
      <pre id="sso_secret" class="secret embedded"><%= @tenant.settings(:discourse).sso_secret %></pre>
      <%= clipboard_button("sso_secret") %>
    </td>
  </tr>
</table>