<% content_for :contextnav do %>
  <ul class="side-nav">
    <li><%= link_to "Aktivitäten", activities_path(:filter => "pad") %></li>
    <li class="divider"></li>
    <li><%= link_to "Neues Pad", new_pad_path %></li>
  </ul>
<% end %>
<h1>Pads</h1>
<table>
  <thead>
    <tr>
      <th>Titel</th>
      <th class="hide_on_phone">Letzte &Auml;nderung</th>
    </tr>
  </thead>
  <tbody>
    <% pads.each do |pad| %>
      <tr>
        <td><%= link_to pad.title, pad %></td>
        <td class="hide_on_phone"><%= datetime_column pad.updated_at, relative: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pads %>
