<% cache @decorated_activities.cache_key do %>
  <% @decorated_activities.each_group do |group| %>
    <div class="activity-group">
      <%= group.first.avatar %>
      <div class="grouped-activities">
        <% group.each do |activity| %>
          <%= render activity %>
        <% end %>
        <div class="meta">
          <span class="date">
            <i class="fi-clock"></i>
            <%= timeago_tag group.first.created_at, nojs: false %>
          </span>
          <% if group.size > 1 %>
           <span>&#183; <a href="javascript:;" class="show-activities"><%= group.size - 1 %> weitere <%= PublicActivity::Activity.model_name.human(count: group.size - 1) %> anzeigen</a><span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
